@import 'tailwindcss';

@import './tallcraftui.css';
@plugin '@tailwindcss/forms';

@source '../../vendor/developermithu/tallcraftui/src/**/*.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #1f4b8e;
    --color-secondary: #182430;
}

[x-cloak] {
    display: none;
}

@layer base {
    body {
        @apply antialiased min-h-screen font-sans leading-6 text-slate-900 dark:text-slate-100 bg-slate-100 dark:bg-slate-900;
    }

    body.auth {
        @apply dark:bg-linear-to-b dark:from-slate-950 dark:to-slate-900;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: theme('colors.secondary')
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #888
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555
    }
}